/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Variables */
:root {
  --primary-color: #007bff;
  --primary-color-dark: #0056b3;
  --primary-color-darker: #004085;
  --background-color: #f8f8f8;
  --text-color: #000;
  --white-color: #fff;
  --modal-background: rgba(0, 0, 0, 0.5);
  --gradient-start: #e4f2ff;
  --gradient-end: #d8b4fe;
}

/* General styles */
body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
  color: var(--text-color);
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Header styles */
header {
  text-align: center;
  margin-bottom: 2rem;
}

header img {
  width: 100px;
  height: auto;
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}

header p {
  font-size: 1rem;
  font-weight: 400;
  color: #555;
}

h1, h2 {
  margin: 0;
}

h2 {
  margin: 1rem 0;
}

/* Button styles */
.button {
  width: auto;
  padding: 1rem 2rem;
  margin: 10px 0;
  font-size: 1.25rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: var(--primary-color-dark);
  transform: translateY(-2px);
}

.button:active {
  background-color: var(--primary-color-darker);
  transform: translateY(0);
}

/* Specific Button Styles */
.button-black {
  background-color: var(--text-color);
  color: var(--white-color);
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s;
}

.button-black:hover {
  background-color: #333;
  transform: translateY(-2px);
}

.button-black:active {
  background-color: #000;
  transform: translateY(0);
}

/* Table styles */
.responsive-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  overflow-x: auto;
  display: block;
}

.responsive-table th, .responsive-table td {
  border: 1px solid #ddd;
  padding: 0.8rem;
}

.responsive-table th {
  background-color: var(--primary-color);
  color: var(--white-color);
  text-align: center;
}

.responsive-table td {
  text-align: center;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-background);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: var(--white-color);
  padding: 2rem;
  border-radius: 5px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .button {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
  }

  .modal-content {
    padding: 1.5rem;
    width: 95%;
  }
}

@media (max-width: 480px) {
  body {
    padding: 10px;
  }

  .button {
    font-size: 0.875rem;
    padding: 0.8rem 1rem;
  }

  .responsive-table th, .responsive-table td {
    font-size: 0.875rem;
    padding: 0.5rem;
  }

  .modal-content {
    padding: 1rem;
    width: 100%;
  }

  header {
    padding: 15px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}

footer {
  position: fixed;
  bottom: 1rem;
  text-align: center;
  font-size: 0.875rem;
  color: #777;
}

footer p {
  margin: 0;
}
