/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Variables */
:root {
  --primary-color: #007bff;
  --primary-color-dark: #0056b3;
  --primary-color-darker: #004085;
  --background-color: #f8f8f8;
  --text-color: #000;
  --white-color: #fff;
  --modal-background: rgba(0, 0, 0, 0.5);
}

/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header styles */
header {
  text-align: center;
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--white-color);
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  margin: 0;
}

h2 {
  margin: 1rem 0;
}

/* Button styles */
.button {
  width: 100%;
  padding: 15px 20px;
  margin: 10px 0;
  font-size: 16px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--primary-color-dark);
}

.button:active {
  background-color: var(--primary-color-darker);
}

/* Specific Button Styles */
.button-black {
  background-color: var(--text-color);
  color: var(--white-color);
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-black:hover {
  background-color: #333;
}

/* Table styles */
.responsive-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  overflow-x: auto;
  display: block;
}

.responsive-table th, .responsive-table td {
  border: 1px solid #ddd;
  padding: 0.8rem;
}

.responsive-table th {
  background-color: var(--primary-color);
  color: var(--white-color);
  text-align: center;
}

.responsive-table td {
  text-align: center;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-background);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .button {
    font-size: 14px;
  }

  .modal-content {
    padding: 1.5rem;
    width: 95%;
  }
}

@media (max-width: 480px) {
  body {
    padding: 10px;
  }

  .button {
    font-size: 12px;
    padding: 10px 15px;
  }

  .responsive-table th, .responsive-table td {
    font-size: 12px;
    padding: 0.5rem;
  }

  .modal-content {
    padding: 1rem;
    width: 100%;
  }

  header {
    padding: 15px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}
