/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header styles */
header {
  text-align: center;
  padding: 20px;
  background-color: #007bff;
  color: white;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  margin: 0;
}

h2 {
  margin: 1rem 0;
}

/* Button styles */
.button {
  width: 100%;
  padding: 15px 20px;
  margin: 10px 0;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

.button:active {
  background-color: #004085;
}

/* Specific Button Styles */
.button-black {
  background-color: #000; /* Negro */
  color: white; /* Texto blanco */
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-black:hover {
  background-color: #333;
}

.button-secondary {
  background-color: #ccc;
  color: black;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-secondary:hover {
  background-color: #aaa;
}

/* Table styles */
.responsive-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.responsive-table th, .responsive-table td {
  border: 1px solid #ddd;
  padding: 0.8rem;
}

.responsive-table th {
  background-color: #007bff;
  color: white;
  text-align: center;
}

.responsive-table td {
  text-align: center;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  width: 90%;
  max-width: 500px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Media Queries */
@media (max-width: 768px) {
  .button {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .button {
    font-size: 12px;
    padding: 10px 15px;
  }
}

.pagination button {
  padding: 5px 10px;
  margin: 0 2px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.pagination button.active {
  font-weight: bold;
  background-color: #007bff;
  color: white;
}
